animations {
    workspace-switch {
        spring damping-ratio=0.85 stiffness=400 epsilon=0.0001
    }
    window-open {
        duration-ms 250
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 200
        curve "ease-out-cubic"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=350 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.9 stiffness=300 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.9 stiffness=400 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.7 stiffness=600 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-expo"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=350 epsilon=0.0001
    }
}
