layout {
    gaps 12
    center-focused-column "never"
    background-color "transparent"

    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 2
        active-color   "#8caaee"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba8"
    }

    border {
        off
        width 2
        active-color   "#a6e3a1"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba8"
    }

    shadow {
        on
        color "#11111b70"
    }

    tab-indicator {
        width 4
        position "left"
        active-color   "#a6e3a1"
        inactive-color "#313244"
        urgent-color   "#f38ba8"
    }

    insert-hint {
        color "#a6e3a180"
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

recent-windows {
    highlight {
        active-color "#a6e3a1"
        urgent-color "#f38ba8"
    }
}
