
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "/usr/libexec/polkit-kde-authentication-agent-1"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "XDG_SESSION_TYPE"
spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets,ssh,pkcs11"
//spawn-at-startup "waybar"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
