// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-at-startup "noctalia"
    spawn-at-startup "/usr/libexec/pam_kwallet_init"
    spawn-at-startup "/usr/libexec/kf6/kiod6"
    spawn-at-startup "/usr/libexec/kf6/polkit-kde-authentication-agent-1"
