/* Transparency */
window-rule {
  opacity 0.95
}

/* Apps: blur them all without xray so it looks more realistic. */
window-rule {
  background-effect {
    //blur true
    //xray true
  }
}

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  No need to set blur to 'true' here, it's automatic.
*/
layer-rule {
  match namespace="^noctalia-(bar-main|notification|dock|panel)$"
  background-effect {
    xray false
    blur false
  }
}

/* Specific app*/
window-rule {
  match app-id="ghostty"
  opacity 0.9
}
