layout {
    gaps 10 // Gap between windows
    center-focused-column "never" // Don’t auto-center focused column

    background-color "transparent" // <- needed for noctalia-shell to set wallpaper

    focus-ring {
        // Set thickness in logical pixels
        width 2

        // Set active and inactive colors (HEX format)
        active-color "#8a9a7b"
        //inactive-color "blue"

        // Optional: Use gradients instead of solid colors
        // active-gradient from="#ff5555" to="#ffb86c" angle=45
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    struts {}
}
